[submodule "LiteVTX"]
	path = LiteVTX
	url = https://github.com/vodka-bears/LiteVTX
[submodule "LiteOSD"]
	path = LiteOSD
	url = https://github.com/vodka-bears/LiteOSD
[submodule "LiteSilverware"]
	path = LiteSilverware
	url = https://github.com/vodka-bears/LiteSilverware
[submodule "efm8-arduino-programmer"]
	path = efm8-arduino-programmer
	url = https://github.com/vodka-bears/efm8-arduino-programmer
